<!DOCTYPE html>
<html>

<head>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/sign-in-modules.css">
</head>

<body>

<!-- HTML login screen form -->
<form action="/login" method="post" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="upper-box">
        <div>
            <h1><%= name  %></h1>
        </div>
    </div>
    <!-- Bottom box with Sign in -->
    <div class="bottom-box">
      <div class="pure-controls sign-in-button">
        <button type="submit" value="Submit" class="pure-button pure-button-primary">Sign in</button>
      </div>
    </div>
  </fieldset>
</form>

</body>
</html>
